.center {
  text-align: center;
}

.green {
  color: limegreen;
}

.blue {
  color: lightsteelblue;
}

.yellow {
  color: darkkhaki;
}

body {
  background-color: black;
  color: white;
  font-size: 13pt;
}

h1 {
  font-size: 34pt;
  font-weight: bold;
}

hr.ct {
  width: 50%;
}

hr.tot {
  width: 100%;
}

img.email {
  max-width: 50%;
}

a:link {
  color: coral;
}

a:visited {
  color:lightcoral;
}

a:active, a:hover {
  color: floralwhite;
}
