* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --gray-1: hsl(0,0%,5%);
  --gray-2: hsl(0,0%,15%);
  font-size: 12pt;
  scroll-behavior: smooth;
}

.page {
  background-color: black;
  color: white;
  font-family: Verdana, sans-serif;
  font-size: 1.1rem;
  line-height: 2;
  margin: 0;
  position: relative;
}

.name {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1;
  margin: 20px 0;
  text-align: center;
}

.img-email {
  display: block;
  height: auto;
  margin: 20px auto;
  max-width: 70%;
  width: 480px;
}

.language {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.language__opt {
  border: 2px solid white;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  width: 120px;
}

.language__opt:first-child {
  background-color: var(--gray-1);
  border-radius: 10px 0 0 10px;
  border-right: 0;
}

.language__opt:last-child {
  background-color: var(--gray-2);
  border-radius: 0 10px 10px 0;
}

.language__opt:hover .language__name {
  font-weight: bold;
}

.flag {
  font-size: 1.3rem;
  font-style: normal;
}

.section {
  border: 5px solid white;
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
}

.section:nth-child(odd) {
  background-color: var(--gray-1);
}

.section:nth-child(even) {
  background-color: var(--gray-2);
}

.section__title {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 10px;
  text-align: center;
}

.topic {
  margin-left: 25px;
}

.txt--green {
  color: limegreen;
}

.txt--blue {
  color: lightsteelblue
}

.txt--yellow {
  color: darkkhaki;
}

.link:link {
  color: coral;
}

.link:visited {
  color:lightcoral;
}

.link:active, .link:hover {
  color: floralwhite;
}

.footer {
  margin-bottom: 20px;
  padding: 0 45px;
}

@media screen and (max-width: 800px) {
  .section {
    margin: 10px;
    padding: 10px;
  }

  .footer {
    margin-bottom: 10px;
    padding: 0 25px;
  }
}

@media screen and (max-width: 500px) {
  .section {
    border-width: 3px;
    margin: 5px;
    padding: 5px;
  }

  .footer {
    margin-bottom: 5px;
    padding: 0 13px;
  }
}
